@charset "UTF-8";
/* CSS Document */
/*---
missing part of code
watch record
---*/
p
{
  color: #fff;
  line-height: 30px;
  background: #000;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
/*End basic reset*/

body
{
  font-size: 12px;
  color: #333;
  font-family: 'Roboto', sans-serif;

}


/*a:link is for not visited, a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited
{
  text-decoration: none;
  color: #313131;
}

a:hover, a:active
{
  text-decoration: none;
  color: #666;
}

/*hide elements from browser but show for doc outline*/
.hidden
{
  display: none;
}

/*Div is block level and no width specidied therefore stretches full screens*/
/*{
  background-color: #000;
  height: 20px;
}
*/
/*Site Container*/
/*This is essentially a box that we place the whole site in.
we center the box using margin 0 auto and give it a fixed width of 920 + 20px +20px (960px)*/

#siteContainer
{
  margin: 0 auto;
  width: 920px;
  padding-left: 20px;
  padding-right: 20px;
}

/*__________________________________
          Main Nav Section
__________________________________*/
#mainNav
{
  margin-top: 40px;
  padding-bottom: 20px;
  overflow: hidden;
  /* fixes colapsing parent
  http://coding.smashingmagazine.com/2009/10/19/the-mystery-of-css-float-property */
}

#logo
{
  width: 50px;
  float: left;
}

#WebName
{
  float: left;
  width: 250px;
  margin-left: 270px;
}

#Nav
{
  float: right;
  width: 250px;
}

/*__________________________________
          Main header Section
__________________________________*/

#Header
{
  padding-bottom: 40px;
  overflow: hidden;
  border-bottom: solid 1px #DDD;
}

#IntroHeader p
{
  line-height: 450px;
}

#IntroHeader
{
    float: left;
    width: 100%;
}

/*__________________________________
           left flow box
__________________________________*/

.left
{
  margin-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  border-bottom: solid 1px #DDD;
}

.leftImg
{
  float: left;
  width: 250px;
  margin-left: 80px;
}

.left p
{
  line-height: 350px;
}

.leftContent
{
  float: left;
  width: 500px;
  margin-left: 20px;
}

/*__________________________________
           button box
__________________________________*/

.button
{
  margin-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

.theButton
{
  width: 80px;
  margin-left: 420px;
}

/*page1*/

/*__________________________________
          About benefit Section
__________________________________*/
#benefit
{
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 20px;
}

.benefitTitle
{
  margin-bottom: 40px;
}

.benefitTitle p
{
  line-height: 50px;
}


.benefitDetail
{
  float: left;
  width: 250px;
  margin-left: 55px;
}

.benefitDetail2
{
  float:left;
  width: 250px;
  margin-left: 30px;
}
/*Get rid of this, here just to give a different height to productInfo*/
.benefitDetail p
{
  line-height: 300px;
}

.benefitDetail2 p
{
  line-height: 300px;
}
/*__________________________________
       flavor & price Section
__________________________________*/
#flavor
{
  margin-top: 50px;
  padding-bottom: 20px;
  overflow: hidden;
}

#flavor p
{
  line-height: 300px;
}

.flavorBox
{
  float: left;
  width: 300px;
}

.flavorBox2
{
  float: left;
  width: 300px;
  margin-left: 10px;
}

/*page 2*/
/*__________________________________
      normal & light section
__________________________________*/
#normalLight
{
  margin-top: 120px;
  padding-bottom: 120px;
  overflow: hidden;

  border-bottom: solid 1px #DDD;
}

#sideBox
{
  width: 250px;
  float: left;
  margin-left: 100px;
}

#centerImg
{
  float: left;
  width: 200px;
  margin-left: 10px;
}

#sideBox2
{
  width: 250px;
  float: left;
  margin-left: 10px;
}

#normalLight p
{
  line-height: 250px;
}

/*__________________________________
          flavorContent Section
__________________________________*/
#flavorChoice
{
  padding-bottom: 40px;
  border-bottom: solid 1px #DDD;

  overflow: hidden;
}

#flavorChoice p
{
  line-height: 400px;
}

.flavorImg
{
  float: left;
  width: 200px;

  margin-left: 140px;
  margin-top: 40px;
}

.flavorContent
{
  float: left;
  width: 400px;

  margin-left: 40px;
  margin-top: 40px;
}

/*__________________________________
           button box
__________________________________*/

.button2
{
  margin-top: 20px;
  padding-bottom: 100px;
  overflow: hidden;
  border-bottom: solid 1px #DDD;
}

.theButton2
{
  width: 80px;
  margin-left: 420px;
}


/*__________________________________
          Footer Section
__________________________________*/


#mainFooter
{
  margin-top: 40px;
  padding-bottom: 5px;
  overflow: hidden;
}

#footerNav
{
  float: left;
  width: 300px;
}

#contact
{
  float: right;
  width: 310px;
}

#copyright
{
  padding-bottom: 10px;
  overflow: hidden;
  width: 150px;
}
