@charset "UTF-8";
/* CSS Document */
/*---
missing part of code
watch record
---*/
p
{
  /*background-color: white;*/
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif, arial;
}
/*End basic reset*/

body
{
  font-size: 16px;
  color: #8A9FB4;
  font-family: 'Roboto', sans-serif, arial;
  background-color: #052146;

}


/*a:link is for not visited, a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited
{
  text-decoration: none;
  color: #AD1129;
}

a:hover, a:active
{
  text-decoration: none;
  color: white;
  text-decoration: underline solid 3px;
}

/*hide elements from browser but show for doc outline*/
.hidden
{
  display: none;
}

/*Div is block level and no width specidied therefore stretches full screens*/
/*{
  background-color: #000;
  height: 20px;
}
*/
/*Site Container*/
/*This is essentially a box that we place the whole site in.
we center the box using margin 0 auto and give it a fixed width of 920 + 20px +20px (960px)*/

#siteContainer
{
  margin: 0 auto;
  width: 920px;
  padding-left: 20px;
  padding-right: 20px;
}

/*__________________________________
          Main Nav Section
__________________________________*/
.mainNav
{
  margin-top: 40px;
  padding-bottom: 20px;
  overflow: hidden;
  /* fixes colapsing parent
  http://coding.smashingmagazine.com/2009/10/19/the-mystery-of-css-float-property */
}

.logo
{
  width: 40px;
  height: 40px;
  margin-left: 20px;
  float: left;
}

.logo img
{
  width: 100%;
  height: auto;
}



.Nav
{
  display: flex;
  justify-content: flex-end;
}

.Nav a
{
  margin-top: 20px;
  margin-left: 15px;

  font-size: 13px;
}


/*__________________________________
          Main header Section
__________________________________*/

#Header
{
  padding-bottom: 40px;
  overflow: hidden;
}


#Header img
{
  width: 100%;
  height: auto;
}

#Header:hover img
{
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(4px);
}

#Header p
{
  position: absolute;
  top: 230px;
  left: 400px;
  text-align: left;
  line-height: 83px;
  font-size: 50px;
  font-family: 'Lobster', cursive;
  color: #052146;
}
/*__________________________________
           left flow box
__________________________________*/

.left
{
  margin-top: 100px;
  padding-bottom: 80px;
  overflow: hidden;
}

.left img
{
  float: left;
  width: 300px;
  height: auto;
  margin-left: 140px;
}


.left p
{
  width: 300px;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.leftContent
{
  float: left;
  width: 300px;
  margin-left: 50px;
}

span
{
  color: #AD1129;
  text-decoration: underline;
  font-size: 13px;
}
/*__________________________________
           button box
__________________________________*/

.button
{
  padding: 5px 10px;
  overflow: hidden;
  width: 80px;
  border: white solid 1px;
  border-radius: 20px;
  margin-left: 420px;
  font-size: 13px;
  margin-bottom: 300px;
}

.button a
{
  color: white;
}


/*page1*/

/*__________________________________
          About benefit Section
__________________________________*/
#benefit
{
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 60px;
  margin-bottom: 40px;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #8A9FB4;
  color: white;
  font-size: 14px;
  word-wrap: normal;
  line-height: 20px;
}

.benefitBox img
{
  float: left;
  width: 35px;
  height: auto;
  padding-bottom: 10px;
  border-radius: 100%;
}

.benefitBox p
{
  padding: 10px;
  float: right;
  text-align: left;
  width: 200px;
}

.animation img
{
  animation: shake 0.5s;
  -moz-animation:  shake 0.5s;
  -webkit-animation:  shake 0.5s;
}


@keyframes shake
{
  0% { transform: translate(1px, 1px) rotate(3deg);}
  20% { transform: translate(-4px, 0px) rotate(20deg);}
  40% { transform: translate(1px, -1px) rotate(20deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  80% { transform: translate(-1px, -1px) rotate(20deg); }
  100% { transform: translate(1px, -2px) rotate(-20deg); }
}

@-moz-keyframes shake
{
  0% { transform: translate(1px, 1px) rotate(3deg); }
  20% { transform: translate(-4px, 0px) rotate(20deg); }
  40% { transform: translate(1px, -1px) rotate(20deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  80% { transform: translate(-1px, -1px) rotate(20deg); }
  100% { transform: translate(1px, -2px) rotate(-20deg); }
}

@-webkit-keyframes shake
{
  0% { transform: translate(1px, 1px) rotate(3deg); }
  20% { transform: translate(-4px, 0px) rotate(20deg); }
  40% { transform: translate(1px, -1px) rotate(20deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  80% { transform: translate(-1px, -1px) rotate(20deg); }
  100% { transform: translate(1px, -2px) rotate(-20deg); }
}
/*__________________________________
       flavor & price Section
__________________________________*/
#flavor
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: space-around;
  padding-bottom: 20px;
  overflow: hidden;
}

#flavor img
{
  width: 300px;
}


/*page 2*/
/*__________________________________
      normal & light section
__________________________________*/

#flavorChoice p
{
  line-height: 400px;
}

.flavorImg
{
  float: left;
  width: 200px;

  margin-left: 140px;
  margin-top: 40px;
}

.flavorContent
{
  float: left;
  width: 400px;

  margin-left: 40px;
  margin-top: 40px;
}

/*about us page*/
#aboutBox
{
  overflow: hidden;
  margin-top: 60px;
  padding-bottom: 60px;
}

#aboutBox img
{
  width: 800px;
  margin-left: 60px;
}

#aboutBox p
{
  width: 800px;
  margin-top: 40px;
  padding-bottom: 80px;
  margin-left: 60px;
}

/*contact page*/
#contactForm
{
  overflow: hidden;
  margin-left: 60px;
  width: 800px;
  height: auto;
  background-color: #EBD99B;
  border-radius: 20px;
}

textarea
{
  margin: 40px 40px 10px;
  height: 500px;
  width: 710px;
  border-radius: 20px;
  border-color: #EBD99B;
}

#name
{
  height: 30px;
  margin: 10px 40px;
  width: 710px;
  border-radius: 20px;
  border-color: #EBD99B;
}

#submit
{
  height: 30px;
  margin: 10px 40px 80px;
  width: 100px;
  border-radius: 20px;
  border-color: #EBD99B;
  background-color: #052146;
  color: white;
}

.contactBox
{
  color: #052146;
}

.contactBox h4
{
  font-weight: bold;
  margin: 80px 40px 20px;
  font-size: 25px;
}

.contactBox p
{
  float: left;
  padding: 20px 40px 20px;
  font-size: 20px;
  text-align: left;
}

.marginLength
{
  margin-bottom: 80px;
}

/*landing page*/
#landing
{
  overflow: hidden;
  background-color: #EBD99B;
  width: 900px;
  height: auto;
  margin: 40px;
}


#landing h4
{
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 90px;
  font-family: Lobster, sans-serif, arial;
  font-size: 66px;
  color: black;
}

#landing img
{
  width: 30%;
}

#landingText a
{
  background-color: #052146;
  color: white;
  border-radius: 30%;
  padding: 10px 20px;
  margin-left: 300px;
}

/*__________________________________
          Footer Section
__________________________________*/


#mainFooter
{
  margin-top: 130px;
  padding-bottom: 5px;
  overflow: hidden;
}

#footerNav
{
  display: flex;
  justify-content: flex-start;
}

#footNav a
{
  margin-top: 20px;
  margin-left: 15px;
  font-size: 13px;
}

#contact
{
  display: flex;
  justify-content: flex-end;
  float: right;
}

.Copyright
{
  font-size: 10px;
  padding-bottom: 10px;

}
